# Core functionality - changes here should be rare!
/src/app.py                   @minhthy2001
/src/backend/database.py      @minhthy2001
/src/backend/routers/auth.py  @minhthy2001

# The frontend will need refactored soon to be more object oriented.
/src/static/   @minhthy2001
